<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    
    @Styles.Render("~/Content/css")
    
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/alertify")
    @Scripts.Render("~/bundles/Site")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-confirm")
</head>
<body onload="checkJavaScriptValidity()">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-collapse collapse">
               
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

<div class="container body-content">
    <div class="row profile">
        <div class="col-md-12 text-center">
            @Html.Partial("_LeftMenu")
            
            <div class="profile-content">
                <div class="col-md-9 text-center">
                    <noscript><div class="alert alert-error"> Java script disabled, possibly incorrect site operation</div></noscript>
                    @RenderBody()
                </div>
            </div>

        </div>
    </div>

</div>

</body>
</html>

<script type="text/javascript">
    function checkJavaScriptValidity() {
        document.getElementById("jsEnabled").style.visibility = 'visible';
        document.getElementById("jsDisabled").style.visibility = 'hidden';


        $('.edit-buttons-enabledJS').css('visibility', 'visible');
        $('.edit-buttons-disbledJS').remove();

        $('#collapseSearch').addClass('collapse')

        $('.delete-buttons-disabledJs').remove();
        $('.delete-buttons-enabledJs').css('visibility', 'visible');
    }</script>